In [3]:
from pyspark.sql.types import DoubleType, FloatType, LongType, StructType,StructField, StringType
schema = StructType([
  StructField("vendor_id", LongType(), True),
  StructField("trip_id", LongType(), True),
  StructField("trip_distance", FloatType(), True),
  StructField("fare_amount", DoubleType(), True),
  StructField("store_and_fwd_flag", StringType(), True)
])

df = spark.createDataFrame([], schema)
df.writeTo("demo.nyc.taxis").createOrReplace()

In [7]:
spark.table("demo.nyc.taxis").show()

+---------+-------+-------------+-----------+------------------+
|vendor_id|trip_id|trip_distance|fare_amount|store_and_fwd_flag|
+---------+-------+-------------+-----------+------------------+
+---------+-------+-------------+-----------+------------------+

In [10]:
schema = spark.table("demo.nyc.taxis").schema
data = [
    (1, 1000371, 1.8, 15.32, "N"),
    (2, 1000372, 2.5, 22.15, "N"),
    (2, 1000373, 0.9, 9.01, "N"),
    (1, 1000374, 8.4, 42.13, "Y")
  ]
df = spark.createDataFrame(data, schema)
df.writeTo("demo.nyc.taxis").append()

In [11]:
spark.table("demo.nyc.taxis").show()

+---------+-------+-------------+-----------+------------------+
|vendor_id|trip_id|trip_distance|fare_amount|store_and_fwd_flag|
+---------+-------+-------------+-----------+------------------+
|        1|1000371|          1.8|      15.32|                 N|
|        2|1000372|          2.5|      22.15|                 N|
|        2|1000373|          0.9|       9.01|                 N|
|        1|1000374|          8.4|      42.13|                 Y|
|        1|1000371|          1.8|      15.32|                 N|
|        2|1000372|          2.5|      22.15|                 N|
|        2|1000373|          0.9|       9.01|                 N|
|        1|1000374|          8.4|      42.13|                 Y|
+---------+-------+-------------+-----------+------------------+

In [2]:
df = spark.read.option("header", "true").option("inferSchema", "true").csv("data/sales_data_sample.csv")

In [3]:
print(df)

DataFrame[ORDERNUMBER: int, QUANTITYORDERED: int, PRICEEACH: double, ORDERLINENUMBER: int, SALES: double, ORDERDATE: string, STATUS: string, QTR_ID: int, MONTH_ID: int, YEAR_ID: int, PRODUCTLINE: string, MSRP: int, PRODUCTCODE: string, CUSTOMERNAME: string, PHONE: string, ADDRESSLINE1: string, ADDRESSLINE2: string, CITY: string, STATE: string, POSTALCODE: string, COUNTRY: string, TERRITORY: string, CONTACTLASTNAME: string, CONTACTFIRSTNAME: string, DEALSIZE: string]

In [13]:
df.filter(df.ORDERNUMBER == 10107).show()

+-----------+---------------+---------+---------------+-------+--------------+-------+------+--------+-------+-----------+----+-----------+-----------------+----------+--------------------+------------+----+-----+----------+-------+---------+---------------+----------------+--------+
|ORDERNUMBER|QUANTITYORDERED|PRICEEACH|ORDERLINENUMBER|  SALES|     ORDERDATE| STATUS|QTR_ID|MONTH_ID|YEAR_ID|PRODUCTLINE|MSRP|PRODUCTCODE|     CUSTOMERNAME|     PHONE|        ADDRESSLINE1|ADDRESSLINE2|CITY|STATE|POSTALCODE|COUNTRY|TERRITORY|CONTACTLASTNAME|CONTACTFIRSTNAME|DEALSIZE|
+-----------+---------------+---------+---------------+-------+--------------+-------+------+--------+-------+-----------+----+-----------+-----------------+----------+--------------------+------------+----+-----+----------+-------+---------+---------------+----------------+--------+
|      10107|             30|     95.7|              2| 2871.0|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  95|   S10_1678|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10107|             39|    99.91|              5|3896.49|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles| 118|   S10_2016|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|  Medium|
|      10107|             27|    100.0|              4|6065.55|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles| 193|   S10_4698|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|  Medium|
|      10107|             21|    100.0|              1| 3036.6|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles| 150|   S12_2823|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|  Medium|
|      10107|             29|    70.87|              6|2055.23|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  60|   S18_2625|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10107|             25|    100.0|              3|2845.75|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles| 112|   S24_1578|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
|      10107|             38|    83.03|              7|3155.14|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  76|   S24_2000|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|  Medium|
|      10107|             20|     92.9|              8| 1858.0|2/24/2003 0:00|Shipped|     1|       2|   2003|Motorcycles|  99|   S32_1374|Land of Toys Inc.|2125557818|897 Long Airport ...|        NULL| NYC|   NY|     10022|    USA|       NA|             Yu|            Kwai|   Small|
+-----------+---------------+---------+---------------+-------+--------------+-------+------+--------+-------+-----------+----+-----------+-----------------+----------+--------------------+------------+----+-----+----------+-------+---------+---------------+----------------+--------+

In [6]:
display(df)

DataFrame[ORDERNUMBER: int, QUANTITYORDERED: int, PRICEEACH: double, ORDERLINENUMBER: int, SALES: double, ORDERDATE: string, STATUS: string, QTR_ID: int, MONTH_ID: int, YEAR_ID: int, PRODUCTLINE: string, MSRP: int, PRODUCTCODE: string, CUSTOMERNAME: string, PHONE: string, ADDRESSLINE1: string, ADDRESSLINE2: string, CITY: string, STATE: string, POSTALCODE: string, COUNTRY: string, TERRITORY: string, CONTACTLASTNAME: string, CONTACTFIRSTNAME: string, DEALSIZE: string]

In [12]:
filtered_data = df.filter(df.ORDERNUMBER == 10107).collect()
for row in filtered_data:
    print(row)

Row(ORDERNUMBER=10107, QUANTITYORDERED=30, PRICEEACH=95.7, ORDERLINENUMBER=2, SALES=2871.0, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=95, PRODUCTCODE='S10_1678', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Small')
Row(ORDERNUMBER=10107, QUANTITYORDERED=39, PRICEEACH=99.91, ORDERLINENUMBER=5, SALES=3896.49, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=118, PRODUCTCODE='S10_2016', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Medium')
Row(ORDERNUMBER=10107, QUANTITYORDERED=27, PRICEEACH=100.0, ORDERLINENUMBER=4, SALES=6065.55, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=193, PRODUCTCODE='S10_4698', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Medium')
Row(ORDERNUMBER=10107, QUANTITYORDERED=21, PRICEEACH=100.0, ORDERLINENUMBER=1, SALES=3036.6, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=150, PRODUCTCODE='S12_2823', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Medium')
Row(ORDERNUMBER=10107, QUANTITYORDERED=29, PRICEEACH=70.87, ORDERLINENUMBER=6, SALES=2055.23, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=60, PRODUCTCODE='S18_2625', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Small')
Row(ORDERNUMBER=10107, QUANTITYORDERED=25, PRICEEACH=100.0, ORDERLINENUMBER=3, SALES=2845.75, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=112, PRODUCTCODE='S24_1578', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Small')
Row(ORDERNUMBER=10107, QUANTITYORDERED=38, PRICEEACH=83.03, ORDERLINENUMBER=7, SALES=3155.14, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=76, PRODUCTCODE='S24_2000', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Medium')
Row(ORDERNUMBER=10107, QUANTITYORDERED=20, PRICEEACH=92.9, ORDERLINENUMBER=8, SALES=1858.0, ORDERDATE='2/24/2003 0:00', STATUS='Shipped', QTR_ID=1, MONTH_ID=2, YEAR_ID=2003, PRODUCTLINE='Motorcycles', MSRP=99, PRODUCTCODE='S32_1374', CUSTOMERNAME='Land of Toys Inc.', PHONE='2125557818', ADDRESSLINE1='897 Long Airport Avenue', ADDRESSLINE2=None, CITY='NYC', STATE='NY', POSTALCODE='10022', COUNTRY='USA', TERRITORY='NA', CONTACTLASTNAME='Yu', CONTACTFIRSTNAME='Kwai', DEALSIZE='Small')

In [24]:
sql_file_path = "sql_scripts/create_tables.sql"

with open(sql_file_path, "r") as file:
    sql_script = file.read()

spark.sql(sql_script)

ParseException:
[PARSE_SYNTAX_ERROR] Syntax error at or near 'CREATE': extra input 'CREATE'.(line 9, pos 0)

== SQL ==
-- Manufacturer table
CREATE TABLE IF NOT EXISTS iceberg_db.Manufacturer (
    ManufacturerID INT,
    Name STRING
)
USING iceberg;

-- Warehouse table
CREATE TABLE IF NOT EXISTS iceberg_db.Warehouse (
^^^
    WarehouseID INT,
    Location STRING
)
USING iceberg;

-- StoreDeliveryLocation table
CREATE TABLE IF NOT EXISTS iceberg_db.StoreDeliveryLocation (
    LocationID INT,
    AddressLine1 STRING,
    AddressLine2 STRING,
    City STRING,
    State STRING,
    PostalCode STRING,
    Country STRING,
    Territory STRING
)
USING iceberg;

-- Product table
CREATE TABLE IF NOT EXISTS iceberg_db.Product (
    ProductID INT,
    ProductCode STRING,
    ProductLine STRING,
    MSRP DECIMAL(10,2),
    ManufacturerID INT
)
USING iceberg;

-- Customer table
CREATE TABLE IF NOT EXISTS iceberg_db.Customer (
    CustomerID INT,
    CustomerName STRING,
    Phone STRING,
    ContactLastName STRING,
    ContactFirstName STRING
)
USING iceberg;

-- Orders table
CREATE TABLE IF NOT EXISTS iceberg_db.Orders (
    OrderNumber INT,
    OrderDate TIMESTAMP,
    Status STRING,
    QuarterID INT,
    MonthID INT,
    YearID INT,
    DealSize STRING,
    CustomerID INT,
    ProductID INT,
    StoreDeliveryLocationID INT,
    WarehouseID INT,
    QuantityOrdered INT,
    PriceEach DECIMAL(10,2),
    Sales DECIMAL(15,2)
)
USING iceberg;

In [23]:
df = spark.sql("SELECT * FROM iceberg_db.Manufacturer")

# Show the DataFrame contents
df.show()

+--------------+----+
|ManufacturerID|Name|
+--------------+----+
+--------------+----+

In [38]:
sql_script = """CREATE TABLE IF NOT EXISTS iceberg_db.Manufacturer (
    ManufacturerID INT,
    Name STRING
)
USING iceberg;

CREATE TABLE IF NOT EXISTS iceberg_db.Warehouse (
    WarehouseID INT,
    Location STRING
)
USING iceberg;

CREATE TABLE IF NOT EXISTS iceberg_db.StoreDeliveryLocation (
    LocationID INT,
    AddressLine1 STRING,
    AddressLine2 STRING,
    City STRING,
    State STRING,
    PostalCode STRING,
    Country STRING,
    Territory STRING
)
USING iceberg;

CREATE TABLE IF NOT EXISTS iceberg_db.Product (
    ProductID INT,
    ProductCode STRING,
    ProductLine STRING,
    MSRP DECIMAL(10,2),
    ManufacturerID INT
)
USING iceberg;

CREATE TABLE IF NOT EXISTS iceberg_db.Customer (
    CustomerID INT,
    CustomerName STRING,
    Phone STRING,
    ContactLastName STRING,
    ContactFirstName STRING
)
USING iceberg;

CREATE TABLE IF NOT EXISTS iceberg_db.Orders (
    OrderNumber INT,
    OrderDate TIMESTAMP,
    Status STRING,
    QuarterID INT,
    MonthID INT,
    YearID INT,
    DealSize STRING,
    CustomerID INT,
    ProductID INT,
    StoreDeliveryLocationID INT,
    WarehouseID INT,
    QuantityOrdered INT,
    PriceEach DECIMAL(10,2),
    Sales DECIMAL(15,2)
)
USING iceberg;
"""

    
for i in range(len(sql_script.split(";"))-1):
    print(i)
    spark.sql(sql_script.split(";")[i].replace("\n","").strip())

0
1
2
3
4
5

In [39]:
spark.sql("SHOW TABLES IN iceberg_db").show()

+----------+--------------------+-----------+
| namespace|           tableName|isTemporary|
+----------+--------------------+-----------+
|iceberg_db|            Customer|      false|
|iceberg_db|        Manufacturer|      false|
|iceberg_db|              Orders|      false|
|iceberg_db|             Product|      false|
|iceberg_db|StoreDeliveryLoca...|      false|
|iceberg_db|           Warehouse|      false|
+----------+--------------------+-----------+